NUXT_PUBLIC_SUPABASE_URL=your_supabase_url
NUXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NUXT_PUBLIC_WHATSAPP_NUMBER=5511999999999
NUXT_PUBLIC_COMPANY_NAME="Serralheria Nova Aliança"
NUXT_PUBLIC_COMPANY_ADDRESS="São Paulo - SP"
NUXT_PUBLIC_COMPANY_EMAIL=contato@serralherianovaalianca.com.br
NUXT_PUBLIC_COMPANY_PHONE=(11) 99999-9999
